---
layout: markdown_page
title: Activation Team
---

## On this page
{:.no_toc}

- TOC
{:toc}

## Vision

The Activation Team is part of the [Growth](/handbook/engineering/development/growth/) department and is responsible for improving our metrics relating to acquired and activated users.

## Team Members

The following people are permanent members of the Activation Team:

<%= direct_team(manager_role: 'Engineering Manager, Activation and Upsell') %>

## Common Links

* [Growth issues board]
* [#g_growth] in Slack


[Growth issues board]: https://gitlab.com/gitlab-org/growth/issues

[#g_growth]: https://gitlab.slack.com/archives/g_growth